<!DOCTYPE html>
<html>
<head>
    <title>ERROR418 | {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
 
<header>
        <nav>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tools/tools.html">Bees</a></li>
                <li><a href="/scripting/scripting.html">Scripting</a></li>
                <li><a href="/services/services.html">Services</a></li>
                <li><a href="/links/links.html">Links</a></li>
        </ul>
        </nav>
</header>

<body>
    <div class="container">
    
    {{ content }}
    
    </div><!-- End container -->

</body>

<footer>
  <p>Not the bees!</p>
</footer>

</html>
